
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  background: rgb(147, 192, 192);
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  background: rgba(27, 255, 255, 0.8);
  height: 6rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  font-size: 6rem;
}

.square:hover {
  background: rgb(27, 255, 255)
}

.square.clicked {
  background: rgb(63, 118, 170);
  cursor: not-allowed;
}


.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-content: center;
  grid-gap: 5px;
  position: relative;

}

.ultimate_board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items:center;
  justify-content: center;
  grid-gap: 15px;
  position: relative;
}

.display_result {
  background: rgb(63, 118, 170);
  height: 18.7rem;
  width: 18.7rem;
  position: absolute;
  z-index: 1;
  font-size: 350px;
  align-items: center;
  justify-content: center;
  text-align:center;
  display:flex;
  color:white;
  padding-top: 0px;
}

.display_result:hover {
  opacity: .8;
  cursor: not-allowed;
}

.display_nothing {
  display:none
}